.raiderInput input {
  border: 0;
  background: transparent;
  color: #ffffff;
  margin-left: 10px;
  border-bottom: 2px solid grey;
  padding: 2px;
}

.modifierInput label,
.spanLabel {
  font-weight: 700;
}

.rowContainer {
  display: flex;
  flex-direction: row;
}

.nameContainer {
  width: 20%;
  text-align: left;
}

.teamModContainer {
  width: 10%;
  text-align: left;
}

.descriptionContainer {
  width: 70%;
  text-align: left;
}
