.raiderInput input {
  border: 0;
  background: transparent;
  color: #ffffff;
  margin-left: 10px;
  border-bottom: 2px solid grey;
  padding: 2px;
}

.modifierInput label,
.spanLabel {
  font-weight: 700;
}
