.tooltip-container {
  position: relative;
}

.tooltip-container .tooltip {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: white;
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  bottom: 100%;
  left: 105%;
  transform: translate(-50%);
  z-index: 1;
  // margin-top: 5px;
  // margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
