.navbar {
  background: #464a52;
  padding: 8px;
  text-align: left;
  a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    margin: 0 8px;
    // padding: 0;
    &:hover {
      color: rgb(216, 187, 20);
    }
  }
}
